{% extends 'base.html' %}
{% block title %}
Posts
{% endblock %}
{% block body %}


<div>
    <div>
        <h1>Posts</h1>
        <div>
            <div style="display: flex; width: 100%;">
                <div style="width: 50%;">
                    {% for post, user in posts %}
                    {% if loop.index0 % 2 == 0 %}
                    <div>
                        {% if post.upload.endswith('.mp4') or post.upload.endswith('.webm') %}
                        <video width="100%" controls>
                            <source src="../{{post.upload}}" type="video/mp4">
                            <source src="../{{post.upload}}" type="video/webm">
                        </video>
                        {% elif post.upload.endswith('.mp3') %}
                        <audio width="50%" controls>
                            <source src="../{{post.upload}}" type="audio/mpeg">
                        </audio> <br>
                        {% elif post.upload.endswith('.jpeg') or post.upload.endswith('.jpg') or post.upload.endswith('.png') %}
                        <img width="100%" src="../{{post.upload}}" alt=""> <br>
                        {% endif %}
                        <a style="color: coral;" href="/post/{{post.id}}">Title: {{post.title}}</a> <br>
                        <a style="color:blue;" href="/profile/{{user.id}}">User: {{user.nickname}}</a>
                        <p>Date: {{post.date}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
                <div style="width: 50%;">
                    {% for post, user in posts %}
                    {% if loop.index0 % 2 == 1 %}
                    <div>
                        {% if post.upload.endswith('.mp4') or post.upload.endswith('.webm') %}
                        <video width="100%" controls>
                            <source src="../{{post.upload}}" type="video/mp4">
                            <source src="../{{post.upload}}" type="video/webm">
                        </video>
                        {% elif post.upload.endswith('.mp3') %}
                        <audio width="50%" controls>
                            <source src="../{{post.upload}}" type="audio/mpeg">
                        </audio> <br>
                        {% else %}
                        <img width="100%" src="../{{post.upload}}" alt=""> <br>
                        {% endif %}
                        <a style="color: coral;" href="/post/{{post.id}}">Title: {{post.title}}</a> <br>
                        <a style="color:blue;" href="/profile/{{user.id}}">User: {{user.nickname}}</a>
                        <p>Date: {{post.date}}</p>
                    </div>
                    {% endif %}
                    {% endfor %}

                </div>
            </div>
        </div>
    </div>





    {% endblock %}