
<div>
    <h1>Sign up</h1>
    {% if message %}
    <h1>{{message}}</h1>
    {% endif %}
    <form method="POST">
        <label for="email">Email</label>
        <input name="email" type="text"> <br>

        <label for="nickname">Nickname</label>
        <input name="nickname" type="text"> <br>

        <label for="name">Name</label>
        <input name="name" type="text"> <br> 

        <label for="surname">Surname</label>
        <input name="surname" type="text"> <br>

        <label for="password">Password</label>
        <input name="password" type="password"> <br>

        <label for="repeat_password">Repeat password</label>
        <input name="repeat_password" type="password"> <br>
        <button>Signup</button>
    </form>
    <a href="/login">Already have an account?</a>
    <a href="/">Back to home</a>    
</div>





