

body {
    margin: 0;
    color: white;
    background-color: rgb(20, 20, 20);
    /* width: 100px; */

}

header {
    padding: 10px;


}

div {
    padding: 10px;
}

a {
    color: white;
    margin: 20px;

    /* padding: 10px; */
    text-decoration: none;
}

p {
    margin: 20px;
}

h1 {
    margin: 20px;

}

label {
    margin: 20px;

}

button {
    margin: 20px;

}