<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock %}
    </title>
    <link rel="stylesheet" href="../static/main.css">
    <script src="../static/index.js"></script>
    <style>
        
    </style>


</head>
<body>

    <!-- это файл base.html  -->
    <header>
        <div style="display: flex; align-items: center;">
            <h1>Forge Swords</h1>
        
            {% if logged %}
                <a href="/my_profile">@{{curent_user.nickname}}</a>
                <a href="{{ url_for('chats') }}">Chats</a>
                {% if curent_user.admin %}
                    <a style="color: yellow;" href="/admin_users_manager">You are admin</a>
                {% endif %}
            {% endif %}
            
            {% if not logged %}
               <a href="/signup">Signup</a>
            <a href="/login">Login</a>
                
            {% endif %}


        </div>
        <div>
            <a href="/">Home</a>
            <a href="/posts">Posts</a>

            {% if logged %}
            <a href="/create_post">Create post</a>
            {% endif %}

        </div>
          
    </header>
    {% block body %}
    {% endblock %} 
</body>
</html>